[Unit]
Description=Seagull Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/pi/zeemeeuw-killer
ExecStart=/usr/bin/python /home/pi/zeemeeuw-killer/playrandom.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
